<div style="width: 580px; margin: 40px auto; box-sizing: border-box; text-align: center; border-top: 3.5px solid #333;">
    <h1 style="font-size: 26px; color: #333; margin: 40px 0">
        이메일 주소 인증
    </h1>
    <p style="font-size: 16.5px; line-height: 1.6; color: #333; margin-bottom: 30px;">
        안녕하세요. <span th:text="${nickname}"></span>님,<br />
        저희 <b>AI HeadHunting</b> 서비스에 가입해 주셔서 진심으로 감사드립니다.<br />
        아래 인증하기 버튼을 클릭하여 웹사이트 인증을 완료해주세요.<br />
    </p>
    <a style="display: inline-block; text-decoration: none; background-color: #333; color: #fff; padding: 12px 40px; border-radius: 100px; font-size: 16.5px; margin-bottom: 16px;"
       th:href="${confirmURI}">
        인증하기
    </a>
    <p style="font-size: 14.5px; color: #777; margin-bottom: 50px">
        인증 버튼은 5분 이내에 클릭 완료해주세요.
    </p>
    <div style="text-align: left; border-top: 2px solid #333; padding-top: 18px">
        <p style="font-size: 13.5px; color: #777; line-height: 1.5">
            만약 인증 버튼이 보이지 않거나 문제가 발생한 경우, 아래 링크로 접속해 주세요.<br />
            <a target="_blank" style="display: block; color: #333; background-color: #f7f7f7; width: 540px; text-align: center; padding: 5px 0; margin-top: 16px; text-decoration: none; font-size: 14px;"
               th:href="${confirmURI}"><span th:text="${confirmURI}"></span>
            </a>
        </p>
    </div>
</div>
